html, body, h1, h2 {
    margin: 0;
    font-family: sans;
    font-family: sans-serif;
}

body {
    margin: 50px;
    background-color: #edf2f414;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #2b2d42;
    text-shadow: 1px 1px 1px #8d99ae;
}

h2 {
    font-family: monospace;
    color: #2b2d42;
    font-weight: lighter;
    text-shadow: 1px 1px 1px #8d99ae;
}

.text-center {
    text-align: center;
}

/***PICTURE***/
.profile-pic {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 300px;
    width: 150px;
}

.separator {
    margin: 20px;
    height: 3px;
    border-radius: 50px;
    background-color: #8d99ae82;
}